<div id="gp-petition-image-editor" class="gp-petition-image-editor">
  <div v-for="image in images">
    <img :src="image.image" alt="" width="240">
    <a @click="approve(image)" style="cursor: pointer;">Accept</a>
    <a @click="reject(image)" style="cursor: pointer;">Reject</a>
  </div>
</div>
