<!-- Text content -->
<div class="gp-petition">
  <div id="background" data-petition-id="{{ petition_id }}" v-cloak></div>
  <div class="container app-content">
    <div class="column small-12 text-center">
      <h1 class="uppercase">{{ title }}</h1>
      <div class="excerpt">
        {{ content|raw }}
      </div>
    </div>
    <!--
    <div class="column demands tp-60 small-tp-40">
      <div class="">
        <div class="column text-center">
          <h2 class="uppercase">Motkrav:</h2>
          <div class="demands__wrapper">
            <div class="demands__item">
              <h3>
                <span>Inga räddningspaket</span><br>
                <span>till fossilbolag</span>
              </h3>
            </div>
            <div class="demands__item">
              <h3>
                <span>Motkrav på</span> <br>
                <span>gröna jobb</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>
  <div class="container app-container text-center">
    <div id="app" data-petition-id="{{ petition_id }}" v-cloak></div>
  </div>
</div>
