<!-- Text content -->
<div class="gp-petition">
  <div id="background" data-petition-id="{{ petition_id }}" v-cloak></div>
  <div class="container app-content">
    <div class="column small-12 text-center">
      <h1 class="uppercase">{{ title }}</h1>
      <div class="excerpt">
        {{ content|raw }}
      </div>
    </div>
  </div>
  <div class="container app-container text-center">
    <div id="app" data-petition-id="{{ petition_id }}" v-cloak></div>
  </div>
</div>
