/* CUSTOM LINKS / BUTTON STYLING */

.gp-petition {
  a.button {
    background-color: $yellow;
    padding: 15px 30px;
    font-size: 24px;
    line-height: 32px;
    color: $blue--dark;
    font-weight: bold;
    border-radius: 7px;
    @include breakpoint(medium down) {
      font-size: 14px;
      line-height: 22px;
      padding: 12px 20px;
    }
    &:hover {
      background: $yellow;
      color: rgba($blue--dark, .6);
      &:before, &:after {
        opacity: .6;
      }
    }
    &--no-bg {
      background: transparent;
      padding: 0;
      border-radius: 0;
      color: #fff !important;
      border: none;
      font-size: 16px;
      line-height: 24px;
      border-bottom: 2px solid #fff;
      &:hover {
        background: transparent;
        opacity: .6;
      }
    }
    &:before {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: opacity 200ms ease;
      @include breakpoint(medium down) {
        margin-right: 16px;
      }
    }
    &:after {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: opacity 200ms ease;
      @include breakpoint(medium down) {
        margin-left: 16px;
      }
    }
    &--capture {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 60%);
      &:before {
        content: '';
        height: 23px;
        width: 26px;
        bottom: 2px;
        background-image: url(../assets/images/icons/camera--dark.svg) !important;
        @include breakpoint(medium down) {
          height: 15px;
          width: 18px;
          bottom: 1px;
        }
      }
    }
    &--camera {
      &:before {
        content: '';
        height: 23px;
        width: 26px;
        bottom: 2px;
        background-image: url(../assets/images/icons/camera--light.svg);
        @include breakpoint(medium down) {
          height: 15px;
          width: 18px;
          bottom: 1px;
        }
      }
      &:hover {
        &:before {
          background-image: url(../assets/images/icons/camera--dark.svg);
        }
      }
    }
    &--back {
      &:before {
        content: '';
        height: 21px;
        width: 26px;
        bottom: 2px;
        background-image: url(../assets/images/icons/arrow-back--dark.svg);
        @include breakpoint(medium down) {
          height: 15px;
          width: 17px;
        }
      }
    }
    &--chat {
      &:before {
        content: '';
        height: 24px;
        width: 24px;
        bottom: 2px;
        background-image: url(../assets/images/icons/chat--dark.svg);
        @include breakpoint(medium down) {
          height: 16px;
          width: 16px;
        }
      }
    }
    &--brush {
      &:before {
        content: '';
        height: 24px;
        width: 24px;
        bottom: 2px;
        background-image: url(../assets/images/icons/brush--dark.svg);
        @include breakpoint(medium down) {
          height: 16px;
          width: 16px;
        }
      }
    }
    &--send {
      &:after {
        content: '';
        height: 20px;
        width: 19px;
        bottom: 3px;
        background-image: url(../assets/images/icons/arrow-right--dark.svg);
        @include breakpoint(medium down) {
          height: 14px;
          width: 13px;
        }
      }
    }
    &--facebook {
      // font-size: 16px;
      // line-height: 24px;
      // padding: 12px 24px;
      &:before {
        content: '';
        height: 16px;
        width: 16px;
        bottom: 2px;
        background-image: url(../assets/images/icons/facebook--dark.svg);
        @include breakpoint(medium down) {
          height: 16px;
          width: 16px;
        }
      }
    }
    &--twitter {
      // font-size: 16px;
      // line-height: 24px;
      // padding: 12px 24px;
      &:before {
        content: '';
        height: 13px;
        width: 16px;
        bottom: 1px;
        background-image: url(../assets/images/icons/twitter--dark.svg);
        @include breakpoint(medium down) {
          height: 13px;
          width: 16px;
        }
      }
    }
    &--instagram {
      font-size: 16px;
      line-height: 24px;
      padding: 12px 24px;
      &:before {
        content: '';
        height: 14px;
        width: 14px;
        bottom: 2px;
        background-image: url(../assets/images/icons/instagram--dark.svg);
        @include breakpoint(medium down) {
          height: 14px;
          width: 14px;
        }
      }
    }
    &--blue {
      background-color: $blue--light;
      &:hover {
        background-color: $blue--light;
      }
    }
    &--secondary {
      background-color: rgba($yellow, .1);
      color: $yellow;
      &:before, &:after {
        opacity: .25;
      }
      &:hover {
        background: $yellow;
        color: $blue--dark;
        &:before, &:after {
          opacity: 1;
        }
      }
    }
    &--small {
      font-size: 16px;
      padding: 12px 20px;
    }
  }

  .button-wrapper {
    a.button {
      margin: 0 10px;
      @include breakpoint(medium down) {
        margin: 0 6px;
      }
      @include breakpoint(small down) {
        margin-bottom: 10px;
      }
    }
  }
}

.switch {
  display: inline-block;
  padding: 4px;
  position: relative;
  background-color: rgba($yellow, .1);
  border-radius: 2px;
  cursor: pointer;
  span {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    &:first-of-type {
      margin-right: 3px;
    }
    &.active {
      color: $blue--dark;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    height: 40px;
    width: 40px;
    background-color: $yellow;
    border-radius: 2px;
    transform: translateX(46px);
    transition: transform 200ms ease-in-out;
  }
  &--active {
    &:after {
      transform: translateX(0px);
    }
  }
}
