/* Utility Classes */

// Make element full width
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

// Make sure elements don't run outside containers (great for images in columns)
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

// Remove base styling on <ul>
.u-ul-reset {
  list-style-type: none;
  margin: 0;
}

// Adds a red border
.u-br {
  border: 1px solid red;
}
